.modal {
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 200;
  .addEvent {
    margin: auto;
    background: var(--background);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    position: relative;
    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      font-size: 20px;
      cursor: pointer;
      height: 20px;
      background: transparent;
    }
    h5 {
      margin: auto;
      font-size: 24px;
      color: var(--textColor);
    }
  }
}
