.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
  & > p {
    font-weight: 600;
    font-size: 16px;
    line-height: 113%;
    text-transform: uppercase;
    color: #7b8190;
  }
}
