.profile {
  padding: 0 150px;

  .user {
    display: flex;
    gap: 60px;
    div:has(> img) {
      position: relative;
      height: 100%;
      display: flex;
      img {
        border-radius: 50%;
      }
    }
    div:has(> img):after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: all 0.3s;
      background-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 0;
      background-image: url('../../../public/img/edit-white.svg');
    }
    div:has(> img):hover:after {
      background-color: rgba(0, 0, 0, 0.5);
      background-size: 50px;
    }

    .content {
      width: 60%;
      padding-inline: 20px;
      padding-top: 20px;
      position: relative;
      display: flex;
      flex-direction: column;

      h2 {
        margin-bottom: 10px;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 1px;
        background: var(--textColor);
      }

      &:after {
        right: 0;
        left: 100%;
      }

      .btns {
        padding-top: 20px;
        gap: 10px;
        display: flex;
        margin-top: 20px;
      }
    }
  }
}
