.list {
  display: flex;
  flex-direction: column;
  border-radius: 9px;

  button {
    width: 100%;
    height: 48px;
    padding: 13px 12px;
    display: flex;
    gap: 12px;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 122%;
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.3s;
    color: var(--textColor);

    img:last-of-type {
      margin-left: auto;
      transition: 0.3s;
    }

    &:hover {
      background-color: var(--thirdColor);
      cursor: pointer;
    }
  }

  &Button {
    text-decoration: none;
    padding: 5px;
    border-radius: 9px;
    padding-left: 48px;
    transition: background-color 0.3s;

    &:last-of-type {
      margin-bottom: 10px;
    }

    &:hover {
      background-color: #5c4cf9;
    }

    &.linkActive span {
      padding-bottom: 2px;
      position: relative;

      &:after {
        width: 100%;
        height: 2px;
        background-color: white;
        content: '';
        left: 0;
        bottom: 0;
        position: absolute;
      }
    }
  }

  &.active {
    background-color: var(--blue);

    button {
      color: white;

      img:last-of-type {
        transform: rotate(180deg);
      }

      &:hover {
        cursor: pointer;
        background-color: var(--blueActive);
      }
    }

    img {
      filter: invert(1);
    }

    .listButton {
      color: white;
    }
  }
}
