.card {
  margin-bottom: 24px;
  background: var(--background);
  padding: 18px;
  width: 100%;
  border-radius: 12px;
  text-decoration: none;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h4 {
      font-size: 20px;
      font-weight: 500;
      color: #40444d;
    }

    .dots {
      width: 30px;
      font-size: 30px;
      filter: invert(31%) sepia(19%) saturate(263%) hue-rotate(183deg)
        brightness(92%) contrast(90%);
    }
  }

  .descr {
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
    color: #4d515a;
    margin: 26px auto;

    a {
      text-decoration: none;
    }
  }

  & > img {
    height: 170px;
    width: 315px;
    object-fit: cover;
    object-position: center center;
    border-radius: 8px;
  }

  .tags {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

    .tag {
      border-radius: 10px;
      color: #5d5fef;
      display: flex;
      padding: 0 5px;
      background: #ebf1fc;
    }
  }

  .deadline {
    display: flex;
    gap: 6px;
    padding-top: 24px;
    border: 0 solid var(--thirdColor);
    border-top-width: 1px;
    margin-top: 24px;

    .date {
      font-weight: 500;
      font-size: 13px;
      color: #4d515a;
    }
  }
}
