.cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);

  form {
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding: 30px 20px;
    border-radius: 12px;
    background: var(--background);
    gap: 15px;
    display: grid;
    overflow: hidden;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    .page {
      grid-column: 1 span;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .block {
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-radius: 8px;
      border: 1px solid var(--secondColor);
      padding: 10px;
      & > article {
        font-size: 20px;
        font-weight: 600;
      }

      &:last-of-type {
        margin-top: auto;
      }
    }

    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      height: 20px;
      font-size: 20px;
      background: transparent;
      border: 0;
      color: var(--textColor);
      cursor: pointer;
    }
  }
}

.input {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  article {
    flex-shrink: 0;
  }
}

.addButton {
  margin-top: auto;
  grid-column: 2 span;
}
