.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
}

.tasks {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  gap: 40px;

  .taskHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .taskList {
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow-x: scroll;
  }
}
