.orders {
  background: var(--background);
  margin-top: 30px;
  border-radius: 12px;
}
.control {
  display: flex;
  gap: 24px;
  margin-top: 29px;
  margin-bottom: 29px;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  align-items: center;
  h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    color: var(--textColor);
    span {
      font-weight: 500;
      font-size: 24px;
      line-height: 117%;
      opacity: 0.9;
    }
  }
  & > .control > p {
    font-weight: 500;
    font-size: 18px;
    line-height: 122%;
    color: var(--textColor);
  }
}
