.list {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding-inline: 10px;
  height: 100%;
  overflow-y: scroll;

  .header {
    font-size: 20px;
    font-weight: 500;

    justify-content: space-between;
    display: flex;
    margin-bottom: 30px;
    align-items: center;

    .plus {
      width: 24px;
      font-size: 24px;
      height: 24px;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      &:hover button {
        opacity: 1;
      }

      button {
        font-size: 20px;
        transition: 0.3s;
        background: transparent;
        color: var(--textColor);
        display: flex;
        opacity: 0;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
