.control {
  display: flex;
  .bar {
    display: flex;
    gap: 16px;
    position: relative;
    padding-right: 18px;
    &:after {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: var(--thirdColor);
    }
  }
}
