.editImg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  form {
    width: 300px;
    min-height: 150px;
    background: var(--background);
    border-radius: 12px;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
    .close {
      width: 30px;
      height: 30px;
      top: 5px;
      right: 5px;
      font-size: 20px;
      background: transparent;
      color: var(--textColor);
      cursor: pointer;
      position: absolute;
    }
    article {
      font-size: 18px;
      text-align: center;
    }
  }
}
