.card {
  flex-shrink: 1;
  display: flex;
  gap: 12px;
  .circle {
    background: var(--secondColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    h6 {
      margin-bottom: 4px;
      font-weight: 600;
      font-size: 24px;
      line-height: 117%;
      color: var(--textColor);
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 122%;
      color: var(--textColor);
      span {
        color: var(--textColor);
        opacity: 0.3;
        font-weight: 500;
        font-size: 16px;
      }
    }
    textarea {
      resize: none;
      width: 100%;
      min-width: 379px;
    }
    button {
      margin-left: auto;
    }
  }
}
