.searchInput {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 370px;
  img {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  input {
    width: 100%;
    height: 48px;
    padding-left: 42px;
    background: var(--secondColor);
    border-radius: 8px;
    &::placeholder {
      font-weight: 500;
      font-size: 18px;
      line-height: 122%;
      color: #cacedc;
    }
  }
}
