.deleteList {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 100%;
    max-width: 500px;
    background: var(--background);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    position: relative;

    & > div {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      gap: 5px;
      padding: 10px;

      textarea {
        height: 150px;
        resize: none;
      }

      input {
      }

      article {
        display: flex;
        justify-content: left;
        align-items: center;
      }
      .tagList {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        div {
          display: flex;
          gap: 10px;
          border: 1px dashed rgba(0, 0, 0, 0.5);
          padding: 5px;
          border-radius: 4px;
          button {
            background: transparent;
            cursor: pointer;
            font-size: 15px;
          }
        }
      }
    }

    input {
      width: 100%;
      height: 40px;
    }
    .close {
      position: absolute;
      right: 5px;
      font-size: 20px;
      top: 5px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background: transparent;
      color: var(--textColor);
    }

    select {
      option {
        background: #10b981;
      }
    }
  }
}
