.header {
  background: var(--background);
  padding: 32px;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid #e2e8f0;
  .search {
    display: flex;
    position: relative;
    max-height: 52px;
    width: 100%;
    max-width: 370px;
    img {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }

    input {
      padding-left: 42px;
      border-radius: 9px;
    }
  }

  .people {
    width: 100%;
    max-width: 260px;
    display: flex;
    gap: 12px;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 50px;

      article:first-child {
        color: var(--textColor);
        font-size: 22px;
      }

      article:last-child {
        color: var(--textColor);
        opacity: 0.5;
        font-size: 16px;
      }
    }
  }
}
