.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: var(--textColor);
  }
  h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--textColor);
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: var(--textColor);
  }
}
