.button {
  width: 100%;
  height: 48px;
  padding: 13px 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: background-color 0.3s;
  line-height: 122%;
  color: var(--textColor);
  &:hover {
    background-color: var(--thirdColor);
  }
  &.active {
    background-color: var(--blue);
    color: white;
    img {
      filter: invert(1);
    }
  }
}
