.InformationByStores {
  grid-column: span 4;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 32px 0 12px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .text {
    margin-left: 24px;
  }
  .row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 24px;
  }
}
