.orderDetails {
  width: 100%;
  padding: 28px;
  background: var(--background);
  border-radius: 12px;
  margin-top: 32px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h6 {
      font-weight: 600;
      font-size: 18px;
      color: var(--textColor);
    }

    p {
      font-weight: 500;
      font-size: 16px;
      color: var(--textColor);
    }

    button {
      border-radius: 20px;
      padding: 6px 14px;
      max-width: 103px;
      font-weight: 500;
      font-size: 16px;

      &.Approved {
        background: rgba(209, 250, 229, 0.5);
        color: #059691;
      }
    }
  }

  .menu {
    display: flex;
    gap: 18px;
  }
  .content {
    display: grid;
    margin-top: 67px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 90px;
  }
}
