.personContainer {
  position: relative;

  &:after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: var(--thirdColor);
  }
  .person {
    display: flex;
    gap: 12px;
    margin: auto 17px auto 6px;
    border-radius: 8px;
    transition: background-color 0.3s;
    cursor: pointer;
    padding: 6px 18px;
    background: transparent;

    h3 {
      font-weight: 500;
      font-size: 18px;
      line-height: 122%;
      color: #40444d;
      margin: auto;
    }

    img[alt='arrow'] {
      margin: auto;
    }

    &:hover {
      background: var(--thirdColor);
    }
  }
  .menu {
    position: absolute;
    bottom: -300px;
    height: 300px;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--secondColor);
    border-radius: 0 0 8px 8px;
    border-top: 0;
    background-color: white;

    div > img {
      margin: 0 auto;
    }
  }
}
