:root {
  --secondColor: #f5f5fa;
  --thirdColor: #f1f5f9;
  --textColor: #3b424a;
  --mapColor: #e2e8f0;
  --background: #fff;
  --backgroundContent: #f5f5fa;
  --blue: #7364ff;
  --blueActive: #5c4cf9;
  scroll-padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

main {
  margin-top: 100px;
  margin-left: 322px;
  padding: 48px 32px 50px 30px;
  background-color: var(--backgroundContent);
}
main:has(.tasks) {
  padding: 48px 32px 0 30px;
}

#KyivCity {
  fill: var(--backgroundContent);
  opacity: 0;
}

.mapBackground {
  fill: var(--mapColor);
  stroke: var(--background);
  stroke-width: 3;
}

#Ukraine path:hover {
  fill: var(--blue);
}

.pointerCircle {
  fill: #f00;
  stroke-linecap: square;
  stroke-linejoin: bevel;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}

.cityName {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 0.7em;
  fill: var(--blueActive);
  text-shadow:
    white 1px 1px 0,
    white -1px -1px 0,
    white -1px 1px 0,
    white 1px -1px;
}

#Kiev:hover ~ .cityKiev,
#KyivCity:hover ~ .cityKiev,
#SevastopolCity:hover ~ .citySevastopol,
#Crimea:hover ~ .citySimferopol,
#Cherkasy:hover ~ .cityCherkasy,
#Chernivtsi:hover ~ .cityChernivtsi,
#Dnipropetrovsk:hover ~ .cityDnipro,
#Donetsk:hover ~ .cityDonetsk,
#Ivano-Frankivsk:hover ~ .cityIvano-Frankivsk,
#Kharkiv:hover ~ .cityKharkiv,
#Kherson:hover ~ .cityKherson,
#Khmelnytskyi:hover ~ .cityKhmelnytskyi,
#Kirovohrad:hover ~ .cityKropyvnytskyi,
#Luhansk:hover ~ .cityLuhansk,
#Lviv:hover ~ .cityLviv,
#Mykolaiv:hover ~ .cityMykolaiv,
#Odessa:hover ~ .cityOdessa,
#Poltava:hover ~ .cityPoltava,
#Rivne:hover ~ .cityRivne,
#Sumu:hover ~ .citySumu,
#Chernihiv:hover ~ .cityChernihiv,
#Ternopil:hover ~ .cityTernopil,
#Zakarpattia:hover ~ .cityUzhhorod,
#Vinnytsia:hover ~ .cityVinnytsia,
#Volyn:hover ~ .cityLutsk,
#Zaporizhia:hover ~ .cityZaporizhia,
#Zhytomyr:hover ~ .cityZhytomyr {
  visibility: visible;
  opacity: 1;
}
