.preloader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--background);
  z-index: 201;
  figure {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--textColor);
    border-bottom: none;
    animation: 1s rotate infinite linear;
  }
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
