.button {
  font-weight: 500;
  font-size: 18px;
  color: var(--background);
  border-radius: 9px;
  transition: background-color 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--background);
  }

  &.small {
    padding: 10px;
  }

  &.medium {
    padding: 12px 18px;
  }

  &.big {
    padding: 15px 26px;
  }

  &.icon {
    padding: 0 11.5px;
  }

  &.default {
    background-color: var(--blue);

    &:hover {
      background-color: var(--blueActive);
    }

    &.outlined {
      color: var(--blueActive);
    }
  }

  &.danger {
    background-color: #f43f5e;

    &:hover {
      background-color: #f4153b;
    }

    &.outlined {
      color: #f43f5e;
    }
  }

  &.success {
    background-color: #10b981;

    &:hover {
      background-color: #089566;
    }

    &.outlined {
      color: #10b981;
    }
  }

  &.iconic {
    background-color: #ebf1fc;

    &:hover {
      background-color: #d5e0f4;
    }

    &.outlined {
      background-color: #ebf1fc;
    }
  }

  &.outlined {
    background-color: white;

    &:hover {
      background-color: var(--thirdColor);
    }
  }

  &.bordered {
    border: 1px solid #e2e8f0;
  }

  &:disabled {
    background: #e2e8f0;
    color: #b4bfcd !important;
    cursor: no-drop;

    &:hover {
      background-color: #e2e8f0;
    }
  }
}
