.header {
  display: flex;
  justify-content: space-between;
  padding: 26px 30px;
  position: fixed;
  background: var(--background);
  top: 0;
  left: 322px;
  width: calc(100vw - 322px);
  z-index: 10;
}
