.sideMenu {
  padding: 40px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 322px;
  background: var(--background);
}
