.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  padding: 18px;
  background: var(--background);
  border-radius: 10px;
  div {
    display: flex;
    justify-content: space-between;
    a {
      margin-top: auto;
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: var(--blueActive);
    }
  }
  p {
    &.green {
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: #10b981;
    }
    &.red {
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: #e11d48;
    }
  }
  h4 {
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: var(--textColor);
    margin: 24px auto 8px 0;
  }
}
