.addList {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    width: 100%;
    max-width: 500px;
    background: var(--background);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    position: relative;
    div {
      display: flex;
      width: 100%;
      input {
      }
      article {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    input {
      width: 100%;
      height: 40px;
    }
    .close {
      position: absolute;
      right: 5px;
      font-size: 20px;
      top: 5px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background: transparent;
      color: var(--textColor);
    }
  }
}
