.progress {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 26px;

  & div {
    display: flex;
    margin-bottom: 6px;
    justify-content: space-between;

    .text {
      color: #40444d;
    }
  }

  figure {
    content: '';
    width: 100%;
    bottom: -6px;
    left: 0;
    background: var(--thirdColor);
    height: 3px;

    figure {
      z-index: 2;
      content: '';
      bottom: 0;
      left: 0;
      width: 10px;
      height: 3px;

      &.red {
        background: #f4153b;
      }

      &.yellow {
        background: #f7b84b;
      }

      &.green {
        background: #089566;
      }
    }
  }
}
