.loginForm {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background-color: var(--background);
  z-index: 200;
  input {
    width: 100%;
    max-width: 500px;
    padding: 5px 10px;
    border-radius: 20px;
    height: 40px;
    border: 1px dashed black;
    color: var(--textColor);
  }
}
