.salesAnalytics {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  background: var(--background);
  padding: 30px 40px;
  border-radius: 10px;
  gap: 32px;
  .row {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .headerText {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #797c82;
    span {
      font-weight: 600;
      color: var(--textColor);
      &.blue {
        color: var(--blue);
      }
    }
  }
}
