.name {
  display: flex;
  align-items: center;
  gap: 12px;
}

.summary {
  font-weight: 500;
  color: var(--textColor);
  opacity: 0.5;
}

.button {
  background: transparent;
  cursor: pointer;
}

.products {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 38px;
  h6 {
    font-weight: 600;
    font-size: 18px;
    color: var(--textColor);
  }
}
.orderControl {
  display: flex;
  gap: 15px;
  align-items: center;
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 122%;
    color: var(--textColor);
  }
}
