.taskCover {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 11;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  overflow: hidden;

  .task {
    width: 100%;
    max-width: 500px;
    padding: 20px 30px 20px 20px;
    background: var(--background);
    color: var(--textColor);
    border-radius: 4px;
    min-height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: default;
    gap: 15px;

    input {
      width: 100%;
    }

    textarea {
      width: 100%;
      max-height: 150px;
      resize: none;
    }

    .close {
      position: absolute;
      right: 5px;
      font-size: 20px;
      top: 5px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background: transparent;
      color: var(--textColor);
    }

    h3 {
      text-decoration: none;
    }

    .edit,
    .menu {
      display: flex;
      padding: 5px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    .edit,
    .menu button {
      font-size: 24px;
      background: transparent;
      width: 30px;
      cursor: pointer;
      height: 30px;
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .tags {
      display: flex;
      flex-direction: column;

      .input {
        display: flex;
        position: relative;

        button {
          position: absolute;
          width: 20px;
          height: 20px;
          cursor: pointer;
          background: transparent;
          font-size: 20px;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .tagList {
        display: flex;
        gap: 10px;

        div {
          display: flex;
          gap: 5px;

          button {
            width: 20px;
            height: 20px;
            font-size: 15px;
            cursor: pointer;
            background: transparent;
            color: var(--textColor);
            justify-content: center;
            align-items: center;
            display: flex;
            margin: auto;
          }
        }
      }
    }

    .name,
    .description,
    .select,
    .date,
    .tagsBlock {
      min-height: 40px;
      display: flex;
      gap: 10px;

      & > h3:first-of-type {
        text-transform: capitalize;
        margin: auto 0;
      }

      h3,
      p,
      select,
      div {
        margin: auto 0;
      }
    }

    .progress {
      & > h3:first-of-type {
        text-transform: capitalize;
        margin: auto 0;
      }
    }

    .progress:has(p) {
      display: flex;
      gap: 10px;
    }

    .description {
      flex-direction: column;
    }

    .dateBlock {
      display: flex;
      justify-content: space-between;

      .date {
        flex-direction: column;
      }
    }

    .tagsBlock {
      flex-direction: column;

      div:has(article) {
        display: flex;
        gap: 10px;
      }
    }
  }
}

.preloader {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 2000 !important;
  figure {
    border-color: var(--background) !important;
  }
}
